.game__cell {
  width: 150px;
  height: 150px;
  outline: 2px solid rgb(170, 183, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: none;
  color: #3e3a3a;
}

.game__cell-christ {
  font-size: 95px;
  transform: rotate(45deg);
}

.game__cell-null {
  font-size: 75px;
}
